{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": ["eslint:recommended"],
    "parser": "babel-eslint",
    "rules": {
        "complexity": [ 1, 4 ],
        "max-len": [ 1, 120, { "ignoreUrls": true } ],
        "no-console": 1,
        "no-alert": 1,
        "prefer-const": 1,
        "prefer-template": 1,
        "id-length": [ 1, { "min": 2 } ],
        "strict": [ 2, "never" ],
        "indent": [ 2, 4, { "SwitchCase": 1 } ],
        "linebreak-style": [ 2, "unix" ],
        "space-in-parens": [ 2, "always" ],
        "array-bracket-spacing": [ 2, "always" ],
        "object-curly-spacing": [ 2, "always" ],
        "template-curly-spacing": [ 2, "always" ],
        "computed-property-spacing": [ 2, "always" ],
        "quotes": [ 2, "double", "avoid-escape" ],
        "curly": [ 2, "all" ],
        "semi": [ 2, "always" ],
        "wrap-iife": 2,
        "camelcase": 0,
        "dot-notation": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-trailing-spaces": 2,
        "no-multi-str": 2,
        "comma-dangle": [ 2, "never" ],
        "comma-spacing": [ 2, { "before": false, "after": true } ],
        "comma-style": [ 2, "last" ],
        "space-before-blocks": [ 2, "always" ],
        "keyword-spacing": 2,
        "space-infix-ops": 2,
        "eol-last": 2,
        "lines-around-comment": [ 2, { "beforeLineComment": false } ],
        "no-with": 2,
        "brace-style": 2,
        "space-before-function-paren": [ 2, "never" ],
        "no-spaced-func": 2,
        "key-spacing": 2,
        "no-multiple-empty-lines": [ 2, { "max": 1, "maxEOF": 0, "maxBOF": 0 } ],
        "no-const-assign": 2,
        "no-var": 2,
        "no-param-reassign": 2,
        "no-new-object": 2,
        "no-array-constructor": 2,
        "func-style": [ 2, "declaration", { "allowArrowFunctions": true } ],
        "no-loop-func": 2,
        "prefer-rest-params": 2,
        "no-new-func": 2,
        "prefer-spread": 2,
        "one-var": [ 2, "never" ],
        "eqeqeq": [ 2, "smart" ],
        "no-unneeded-ternary": 2,
        "no-unused-expressions": 2,
        "padded-blocks": [ 2, "never" ],
        "radix": 2,
        "no-underscore-dangle": 2,
        "no-use-before-define": [ 2, { "functions": false } ],
        "no-else-return": 2,
        "no-shadow": 2,
        "no-magic-numbers": [ 1, { "ignore": [ 0, 1, -1 ] } ],
        "consistent-return": 0,
        "array-callback-return": 0,
        "object-shorthand": 0,
        "new-cap": 0
    }
}
